/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 */

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #F9FAFB;
  --background_nav: #F3F4F6;
  --foreground: 208 79% 15%;
  --card: 0 0% 100%;
  --card-foreground: 208 79% 15%;
  --popover: 0 0% 100%;
  --popover-foreground: 208 79% 15%;
  --primary: 208 79% 50%;
  --primary-foreground: 0 0% 98%;
  --secondary: 208 30% 90%;
  --secondary-foreground: 208 79% 50%;
  --muted: 208 10% 90%;
  --muted-foreground: 208 30% 40%;
  --accent: 208 30% 90%;
  --accent-foreground: 208 79% 50%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --border: 208 20% 90%;
  --input: 208 20% 90%;
  --ring: 208 79% 50%;
  --radius: 0.5rem;
}

.dark {
  --background: #060606;
  --background_nav: #191b1e;
  --foreground: #1E293B;
  --card: 208 10% 10%;
  --card-foreground: 0 0% 98%;
  --popover: 208 10% 10%;
  --popover-foreground: 0 0% 98%;
  --primary: 208 79% 51%;
  --primary-foreground: 0 0% 98%;
  --secondary: 208 30% 25%;
  --secondary-foreground: 0 0% 98%;
  --muted: 208 30% 25%;
  --muted-foreground: 208 20% 60%;
  --accent: 208 30% 25%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62% 30%;
  --destructive-foreground: 0 0% 98%;
  --border: 208 20% 25%;
  --input: 208 20% 25%;
  --ring: 208 79% 51%;
}

@theme inline {
  --color-background_nav: var(--background_nav);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --radius: var(--radius);
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

/* ---break---
 */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.hide-scroll {
  overflow-y: scroll; /* or auto */
}

/* Hide scrollbar only for this element */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
